:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #3e3e3e;
  --gray-dark: #2b2b2b;
  --primary: #ff6f61;
  --secondary: #a6a6a6;
  --success: #28bb74;
  --info: #3b86ff;
  --warning: #ff9736;
  --danger: #ff6f61;
  --light: #f5f5f5;
  --dark: #1f1f1f;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Jost, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
}

// default property

body {
  margin: 0;
  font-family: Jost;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #111;
  text-align: left;
  background-color: #fff;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  margin: 0;
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

li {
  list-style-type: none;
  margin: 4px;
}

a {
  text-decoration: none;
  color: #111;
}
a {
  transition: all 0.1s ease-in-out;
  transition-property: color;
}

form {
  display: block;
  margin-top: 0em;
}

h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
h5 {
  display: block;
  font-size: 0.83em;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
h6 {
  display: block;
  font-size: 0.67em;
  margin-block-start: 2.33em;
  margin-block-end: 2.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.75rem;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.75rem;
  font-weight: 500;
  line-height: 1.2;
}
.h4,
h4 {
  font-size: 1.75rem;
}
.h5,
h5 {
  font-size: 1.5rem;
}
.h6,
h6 {
  font-size: 1.25rem;
}

// default spacing
.mx-auto {
  margin: 0 auto;
}
.mb-3,
.my-3 {
  margin-bottom: 0.75rem !important;
}
.mb-4,
.my-4 {
  margin-bottom: 1rem !important;
}
.mb-6,
.my-6 {
  margin-bottom: 1.5rem !important;
}
.mb-7,
.my-7 {
  margin-bottom: 2rem !important;
}
.mb-11,
.my-11 {
  margin-bottom: 5rem !important;
}
@media (min-width: 768px) {
  .mb-md-0,
  .my-md-0 {
    margin-bottom: 0 !important;
  }
}

.pt-12,
.py-12 {
  padding-top: 6rem !important;
  padding-bottom: 6rem !important;
}
.pt-6,
.py-6 {
  padding-top: 1.5rem !important;
}
.pb-6,
.py-6 {
  padding-bottom: 1.5rem !important;
}

// default border
.border-bottom {
  border-bottom: 1px solid #e5e5e5 !important;
}
.border-gray-700 {
  border-color: #303030 !important;
}

// default background
.bg-cover {
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
}
.bg-dark {
  background-color: #1f1f1f !important;
}

// default text
.text-center {
  text-align: center !important;
}
.text-gray-300 {
  color: #bababa !important;
}
.text-gray-350 {
  color: #a6a6a6 !important;
}
.text-muted {
  color: #767676 !important;
}
.text-white {
  color: var(--white) !important;
}

// default form

// default button
button {
  appearance: auto;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  box-sizing: border-box;
  background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
  margin: 0em;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}

.btn {
  display: inline-block;
  font-weight: 500;
  color: #111;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.875rem 1.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

// default row
// .justify-content-center {
//   justify-content: center !important;
// }

// default column
// .col,
// .col-1,
// .col-10,
// .col-11,
// .col-12,
// .col-2,
// .col-3,
// .col-4,
// .col-5,
// .col-6,
// .col-7,
// .col-8,
// .col-9,
// .col-auto,
// .col-lg,
// .col-lg-1,
// .col-lg-10,
// .col-lg-11,
// .col-lg-12,
// .col-lg-2,
// .col-lg-3,
// .col-lg-4,
// .col-lg-5,
// .col-lg-6,
// .col-lg-7,
// .col-lg-8,
// .col-lg-9,
// .col-lg-auto,
// .col-md,
// .col-md-1,
// .col-md-10,
// .col-md-11,
// .col-md-12,
// .col-md-2,
// .col-md-3,
// .col-md-4,
// .col-md-5,
// .col-md-6,
// .col-md-7,
// .col-md-8,
// .col-md-9,
// .col-md-auto,
// .col-sm,
// .col-sm-1,
// .col-sm-10,
// .col-sm-11,
// .col-sm-12,
// .col-sm-2,
// .col-sm-3,
// .col-sm-4,
// .col-sm-5,
// .col-sm-6,
// .col-sm-7,
// .col-sm-8,
// .col-sm-9,
// .col-sm-auto,
// .col-xl,
// .col-xl-1,
// .col-xl-10,
// .col-xl-11,
// .col-xl-12,
// .col-xl-2,
// .col-xl-3,
// .col-xl-4,
// .col-xl-5,
// .col-xl-6,
// .col-xl-7,
// .col-xl-8,
// .col-xl-9,
// .col-xl-auto {
//   position: relative;
//   width: 100%;
//   padding-right: 1rem;
//   padding-left: 1rem;
// }
