:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #3e3e3e;
  --gray-dark: #2b2b2b;
  --primary: #ff6f61;
  --secondary: #a6a6a6;
  --success: #28bb74;
  --info: #3b86ff;
  --warning: #ff9736;
  --danger: #ff6f61;
  --light: #f5f5f5;
  --dark: #1f1f1f;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Jost, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
}

// default property

*,
::after,
::before {
  box-sizing: border-box;
  padding-top: 0;
  padding-bottom: 0;
}
body {
  margin: 0;
  font-family: Jost;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #111;
  text-align: left;
  background-color: #fff;
}

div {
  display: block;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
p {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  margin: 0;
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

li {
  list-style-type: none;
  margin: 4px;
}

a {
  text-decoration: none;
  color: #111;
  background-color: transparent;
}
a {
  transition: all 0.1s ease-in-out;
  transition-property: color;
}

form {
  display: block;
  margin-top: 0em;
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
h5 {
  display: block;
  font-size: 0.83em;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
h6 {
  display: block;
  font-size: 0.67em;
  margin-block-start: 2.33em;
  margin-block-end: 2.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.75rem;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.75rem;
  font-weight: 600;
  line-height: 1.2;
}
.h1,
h1 {
  font-size: 2.75rem;
}
.h2,
h2 {
  font-size: 2.25rem;
}
.h3,
h3 {
  font-size: 2rem;
}
.h4,
h4 {
  font-size: 1.75rem;
}
.h5,
h5 {
  font-size: 1.5rem;
}
.h6,
h6 {
  font-size: 1.25rem;
}

// default spacing
.align-items-center {
  align-items: center !important;
}
.align-items-end {
  align-items: flex-end !important;
}
.justify-content-center {
  justify-content: center !important;
}
.justify-content-end {
  justify-content: flex-end !important;
}
.justify-content-between {
  justify-content: space-between !important;
}

.mx-auto {
  margin: 0 auto;
}
.mt-auto,
.my-auto {
  margin-top: auto !important;
}
.mb-auto,
.my-auto {
  margin-bottom: auto !important;
}
.ml-auto,
.mx-auto {
  margin-left: auto !important;
}
.mr-auto,
.mx-auto {
  margin-right: auto !important;
}
.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}
.mb-1,
.my-1 {
  margin-bottom: 0.25rem !important;
}
.ml-2,
.mx-2 {
  margin-left: 0.5rem !important;
}
.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}
.mb-3,
.my-3 {
  margin-bottom: 0.75rem !important;
}
.mr-n3,
.mx-n3 {
  margin-right: -0.75rem !important;
}
.ml-n3,
.mx-n3 {
  margin-left: -0.75rem !important;
}
.mt-4,
.my-4 {
  margin-top: 1rem !important;
}
.mr-4,
.mx-4 {
  margin-right: 1rem !important;
}
.mb-4,
.my-4 {
  margin-bottom: 1rem !important;
}
.ml-4,
.mx-4 {
  margin-left: 1rem !important;
}
.mb-5,
.my-5 {
  margin-bottom: 1.25rem !important;
}
.mb-6,
.my-6 {
  margin-bottom: 1.5rem !important;
}
.ml-6,
.mx-6 {
  margin-left: 1.5rem !important;
}
.mr-6,
.mx-6 {
  margin-right: 1.5rem !important;
}
.mb-7,
.my-7 {
  margin-bottom: 2rem !important;
}
.mt-7,
.my-7 {
  margin-top: 2rem !important;
}
.mb-8,
.my-8 {
  margin-bottom: 2.5rem !important;
}
.mr-8,
.mx-8 {
  margin-right: 2.5rem !important;
}
.mb-10,
.my-10 {
  margin-bottom: 4rem !important;
}
.mb-11,
.my-11 {
  margin-bottom: 5rem !important;
}
.mt-n11,
.my-n11 {
  margin-top: -5rem !important;
}
@media (min-width: 576px) {
  .mb-sm-0,
  .my-sm-0 {
    margin-bottom: 0 !important;
  }
}
@media (min-width: 768px) {
  .mb-md-0,
  .my-md-0 {
    margin-bottom: 0 !important;
  }
}
@media (min-width: 992px) {
  .mr-lg-11,
  .mx-lg-11 {
    margin-right: 5rem !important;
  }
  .ml-lg-11,
  .mx-lg-11 {
    margin-left: 5rem !important;
  }
}
@media (min-width: 1200px) {
  .ml-xl-n4,
  .mx-xl-n4 {
    margin-left: -1rem !important;
  }
  .mr-xl-8,
  .mx-xl-8 {
    margin-right: 2.5rem !important;
  }
}

.pt-0,
.py-0 {
  padding-top: 0 !important;
}
.pb-0,
.py-0 {
  padding-bottom: 0 !important;
}
.pr-0,
.px-0 {
  padding-right: 0 !important;
}
.pl-0,
.px-0 {
  padding-left: 0 !important;
}
.pr-3,
.px-3 {
  padding-right: 0.75rem !important;
}
.pl-3,
.px-3 {
  padding-left: 0.75rem !important;
}
.pt-6,
.py-6 {
  padding-top: 1.5rem !important;
}
.pb-6,
.py-6 {
  padding-bottom: 1.5rem !important;
}

.pt-7,
.py-7 {
  padding-top: 2rem !important;
}
.pb-7,
.py-7 {
  padding-bottom: 2rem !important;
}
.pr-8,
.px-8 {
  padding-right: 2.5rem !important;
}
.pl-8,
.px-8 {
  padding-left: 2.5rem !important;
}
.pt-9,
.py-9 {
  padding-top: 3rem !important;
}
.pb-9,
.py-9 {
  padding-bottom: 3rem !important;
}
.pt-12,
.py-12 {
  padding-top: 6rem !important;
  padding-bottom: 6rem !important;
}
.pb-12,
.py-12 {
  padding-bottom: 6rem !important;
}
@media (min-width: 768px) {
  .pr-md-6,
  .px-md-6 {
    padding-right: 1.5rem !important;
  }
  .pl-md-6,
  .px-md-6 {
    padding-left: 1.5rem !important;
  }
}

.w-100 {
  width: 100% !important;
}

// default border
.border-bottom {
  border-bottom: 1px solid #e5e5e5 !important;
}
.border-gray-700 {
  border-color: #303030 !important;
}

// default background
.bg-hover {
  transition: all 0.2s ease-in-out;
}
.bg-cover {
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
}
.bg-dark {
  background-color: #1f1f1f !important;
}
.bg-dark-0 {
  background-color: rgba(31, 31, 31, 0) !important;
}
.bg-dark-0.bg-hover:hover {
  background-color: rgba(31, 31, 31, 0.1) !important;
}
.bg-dark-20 {
  background-color: rgba(31, 31, 31, 0.2) !important;
}
.bg-light {
  background-color: #f5f5f5 !important;
}
.bg-white {
  background-color: #fff !important;
}

// default text
.heading-xxs {
  font-size: 0.8125rem;
  font-weight: 600;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
.heading-xxxs {
  font-size: 0.6875rem;
  font-weight: 600;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.font-size-xxs {
  font-size: 0.8125rem !important;
}
.font-size-xs {
  font-size: 0.875rem !important;
}
.font-size-sm {
  font-size: 0.9375rem !important;
}
.font-size-lg {
  font-size: 1.125rem !important;
}
.font-size-h6 {
  font-size: 1.25rem !important;
}

.letter-spacing-xl {
  letter-spacing: 0.05em !important;
}

.text-center {
  text-align: center !important;
}

.text-gray-300 {
  color: #bababa !important;
}
.text-gray-350 {
  color: #a6a6a6 !important;
}
.text-gray-350[href]:hover {
  color: #909090 !important;
}
.text-gray-400 {
  color: #909090 !important;
}
.text-gray-500 {
  color: #525252 !important;
}
.text-muted {
  color: #767676 !important;
}
.text-primary {
  color: #ff6f61 !important;
}
// .text-reset {
//   color: inherit !important;
// }
.text-white {
  color: var(--white) !important;
}

.text-decoration-line-through {
  text-decoration: line-through !important;
}
strong {
  font-weight: 500;
}
.font-weight-bold {
  font-weight: 600 !important;
}

// default button
button {
  appearance: auto;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  box-sizing: border-box;
  background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
  margin: 0em;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}

.btn {
  display: inline-block;
  font-weight: 500;
  color: #111;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.875rem 1.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
[type='button']:not(:disabled),
[type='reset']:not(:disabled),
[type='submit']:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}
.btn-dark {
  color: #fff;
  background-color: #1f1f1f;
  border-color: #1f1f1f;
}
.btn-white {
  background-color: #fff;
  border-color: #fff;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn {
  height: calc(1.5rem + 1.75rem + 2px);
  white-space: nowrap;
}

// default image
img {
  vertical-align: middle;
  border-style: none;
}

//default badge
.badge {
  display: inline-block;
  padding: 0.5em 1em;
  font-size: 0.6875em;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.badge-dark {
  color: #fff;
  background-color: #1f1f1f;
}
.badge {
  letter-spacing: 0.02em;
}
.card-badge {
  position: absolute;
  top: 1.25rem;
  z-index: 1;
}

// default card
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(17, 17, 17, 0.125);
}
.card-img {
  position: relative;
}
.card-img,
.card-img-bottom,
.card-img-top {
  flex-shrink: 0;
  width: 100%;
}
.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.5rem;
}

.card-img-overlay {
  display: flex;
}
.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.5rem;
}
.card-body {
  flex: 0 0 auto;
}

.card-xl .card-body,
.card-xl .card-footer {
  padding: 2.5rem;
}
.card-lg .card-body,
.card-lg .card-footer {
  padding: 2rem;
}
.card-action {
  position: absolute;
  top: 1.25rem;
  z-index: 1;
}
.card-action-right {
  right: 1.25rem;
}

// default list
.list-styled {
  list-style-type: none;
  padding-left: 0;
}
.list-styled-link {
  display: block;
  color: #525252;
}

// default visibility
.opacity-80 {
  opacity: 0.8;
}

// default position
.position-static {
  position: static !important;
}
.position-relative {
  position: relative !important;
}

// default column
.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
}
.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}
.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}
.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
@media (min-width: 768px) {
  .col-md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .d-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) {
  .col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .offset-lg-1 {
    margin-left: 8.33333%;
  }
}

// topbar & dropdown styling
// // nav
.navbar .container,
.navbar .container-fluid,
.navbar .container-lg,
.navbar .container-md,
.navbar .container-sm,
.navbar .container-xl {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}
.nav-link {
  font-weight: 500;
  color: #111;
}
.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}
.navbar-nav .nav-link {
  font-weight: 600;
  outline: 0;
  box-shadow: none;
}

ul.navbar-nav {
  display: flex;
  flex-direction: row;
}
.navbar-light .navbar-nav .nav-link {
  color: #111;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #ff6f61;
}
.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}
// // dropdown
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 200px;
  padding: 0 0;
  margin: 0 0 0;
  font-size: 1rem;
  color: #111;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e5e5e5;
}
.minw-0 {
  min-width: 0 !important;
}
.navbar-nav .dropdown-menu {
  position: static;
  float: none;
}
.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.5rem 1.25rem;
  clear: both;
  font-weight: 400;
  color: #111;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.dropdown,
.dropleft,
.dropright,
.dropup {
  position: relative;
}
.dropdown {
  display: inline-block;
}

// // media querry
@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid,
  .navbar-expand-lg > .container-lg,
  .navbar-expand-lg > .container-md,
  .navbar-expand-lg > .container-sm,
  .navbar-expand-lg > .container-xl {
    flex-wrap: nowrap;
  }
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }
  .navbar:not(.navbar-vertical).navbar-expand-lg .navbar-nav:first-child {
    margin-left: -1rem;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
  }
}
@media (min-width: 1200px) {
  .navbar-expand-xl {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-xl > .container,
  .navbar-expand-xl > .container-fluid,
  .navbar-expand-xl > .container-lg,
  .navbar-expand-xl > .container-md,
  .navbar-expand-xl > .container-sm,
  .navbar-expand-xl > .container-xl {
    flex-wrap: nowrap;
  }
  .navbar-expand-xl .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-expand-xl .navbar-nav {
    flex-direction: row;
  }
  .navbar:not(.navbar-vertical).navbar-expand-xl .navbar-nav:first-child {
    margin-left: -1rem;
  }
  .navbar:not(.navbar-vertical).navbar-expand-xl .navbar-nav:last-child {
    margin-right: -1rem;
  }
  .navbar-expand-xl .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .navbar-expand-xl .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-nav .dropdown > .dropdown-menu,
  .navbar-nav .dropright > .dropdown-menu {
    display: block !important;
    visibility: hidden;
    transform-origin: top center;
    opacity: 0;
  }
  .navbar-nav .dropdown > .dropdown-menu {
    left: 50%;
    transform: translate(-50%, 0.5rem);
  }
  .navbar-nav .dropdown:hover .dropdown-menu {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transition: all 0.2s ease-in-out;
    transition-property: visibility, transform, opacity;
  }

  .d-xl-block {
    display: block !important;
  }
}

// flex styling
.d-flex {
  display: flex !important;
}
.flex-row {
  flex-direction: row !important;
}
.flex-column {
  flex-direction: column !important;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem;
}

// default form
.form-row > .col,
.form-row > [class*='col-'] {
  padding-right: 10px;
  padding-left: 10px;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 1.75rem + 2px);
  padding: 0.875rem 1.5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #111;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e5e5e5;
  border-radius: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  outline: none;
}
.form-control {
  background-clip: border-box;
  transition: all 0.1s ease-in-out;
  transition-property: border;
}
