:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #3e3e3e;
  --gray-dark: #2b2b2b;
  --primary: #ff6f61;
  --secondary: #a6a6a6;
  --success: #28bb74;
  --info: #3b86ff;
  --warning: #ff9736;
  --danger: #ff6f61;
  --light: #f5f5f5;
  --dark: #1f1f1f;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Jost, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
}

// default property

body {
  margin: 0;
  font-family: Jost;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #111;
  text-align: left;
  background-color: #fff;
}

div {
  display: block;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
p {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  margin: 0;
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

li {
  list-style-type: none;
  margin: 4px;
}

a {
  text-decoration: none;
  color: #111;
  background-color: transparent;
}
a {
  transition: all 0.1s ease-in-out;
  transition-property: color;
}

form {
  display: block;
  margin-top: 0em;
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
h5 {
  display: block;
  font-size: 0.83em;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
h6 {
  display: block;
  font-size: 0.67em;
  margin-block-start: 2.33em;
  margin-block-end: 2.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.75rem;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.75rem;
  font-weight: 500;
  line-height: 1.2;
}
.h1,
h1 {
  font-size: 2.75rem;
}
.h2,
h2 {
  font-size: 2.25rem;
}
.h3,
h3 {
  font-size: 2rem;
}
.h4,
h4 {
  font-size: 1.75rem;
}
.h5,
h5 {
  font-size: 1.5rem;
}
.h6,
h6 {
  font-size: 1.25rem;
}

// default spacing
.align-items-center {
  align-items: center !important;
}
.mx-auto {
  margin: 0 auto;
}
.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}
.mb-3,
.my-3 {
  margin-bottom: 0.75rem !important;
}
.mt-4,
.my-4 {
  margin-top: 1rem !important;
}
.mr-4,
.mx-4 {
  margin-right: 1rem !important;
}
.mb-4,
.my-4 {
  margin-bottom: 1rem !important;
}
.ml-4,
.mx-4 {
  margin-left: 1rem !important;
}
.mb-5,
.my-5 {
  margin-bottom: 1.25rem !important;
}
.mb-6,
.my-6 {
  margin-bottom: 1.5rem !important;
}
.ml-6,
.mx-6 {
  margin-left: 1.5rem !important;
}
.mb-7,
.my-7 {
  margin-bottom: 2rem !important;
}
.mt-7,
.my-7 {
  margin-top: 2rem !important;
}
.mb-8,
.my-8 {
  margin-bottom: 2.5rem !important;
}
.mb-10,
.my-10 {
  margin-bottom: 4rem !important;
}
.mb-11,
.my-11 {
  margin-bottom: 5rem !important;
}
@media (min-width: 768px) {
  .mb-md-0,
  .my-md-0 {
    margin-bottom: 0 !important;
  }
}

.pt-6,
.py-6 {
  padding-top: 1.5rem !important;
}
.pb-6,
.py-6 {
  padding-bottom: 1.5rem !important;
}
.pt-7,
.py-7 {
  padding-top: 2rem !important;
}
.pb-7,
.py-7 {
  padding-bottom: 2rem !important;
}
.pr-8,
.px-8 {
  padding-right: 2.5rem !important;
}
.pl-8,
.px-8 {
  padding-left: 2.5rem !important;
}
.pt-9,
.py-9 {
  padding-top: 3rem !important;
}
.pb-9,
.py-9 {
  padding-bottom: 3rem !important;
}
.pt-12,
.py-12 {
  padding-top: 6rem !important;
  padding-bottom: 6rem !important;
}
.pb-12,
.py-12 {
  padding-bottom: 6rem !important;
}

.w-100 {
  width: 100% !important;
}

// default border
.border-bottom {
  border-bottom: 1px solid #e5e5e5 !important;
}
.border-gray-700 {
  border-color: #303030 !important;
}

// default background
.bg-cover {
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
}
.bg-dark {
  background-color: #1f1f1f !important;
}
.bg-dark-20 {
  background-color: rgba(31, 31, 31, 0.2) !important;
}
.bg-light {
  background-color: #f5f5f5 !important;
}

// default text
.font-size-xxs {
  font-size: 0.8125rem !important;
}
.font-size-xs {
  font-size: 0.875rem !important;
}
.font-size-sm {
  font-size: 0.9375rem !important;
}
.font-size-lg {
  font-size: 1.125rem !important;
}

.letter-spacing-xl {
  letter-spacing: 0.05em !important;
}

.text-center {
  text-align: center !important;
}
.text-gray-300 {
  color: #bababa !important;
}
.text-gray-350 {
  color: #a6a6a6 !important;
}
.text-gray-400 {
  color: #909090 !important;
}
.text-gray-500 {
  color: #525252 !important;
}
.text-muted {
  color: #767676 !important;
}
.text-primary {
  color: #ff6f61 !important;
}
// .text-reset {
//   color: inherit !important;
// }
.text-white {
  color: var(--white) !important;
}

// default button
button {
  appearance: auto;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  box-sizing: border-box;
  background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
  margin: 0em;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}

.btn {
  display: inline-block;
  font-weight: 500;
  color: #111;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.875rem 1.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-dark {
  color: #fff;
  background-color: #1f1f1f;
  border-color: #1f1f1f;
}
.btn {
  height: calc(1.5rem + 1.75rem + 2px);
  white-space: nowrap;
}

// default image
img {
  vertical-align: middle;
  border-style: none;
}

// default card
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(17, 17, 17, 0.125);
}
.card-img,
.card-img-bottom,
.card-img-top {
  flex-shrink: 0;
  width: 100%;
}
.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.5rem;
}
.card-body {
  flex: 0 0 auto;
}

// default row
